body{
    background-color: #e5e5f7;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#bbb 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #bbb 3px, #e5e5f7 3px) -1.5px 0;
background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}

.container{
    margin: auto;
    display: flex;
    width: 60em ;
    justify-content: space-around;
    background-color: darkgoldenrod;
}

.bloco {
    justify-content: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgoldenrod;
    padding: 10px;
    border: 6px solid;
    border-color: darkgoldenrod;
    border-spacing: 0;
    margin: 0 20px 10px;
    background-color: darkblue;
    color: darkbl;
}

.imagensConsole {
    width: 200px;
    height: 200px;
}

.cabecalho {
    background-color: rgba(204, 196, 196, 0.918);
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho h1 {
    font-size: 40px;
}

.cabecalho ul {
    font-size: 18px;
    display: flex;  
}

.cabecalho ul li {
    margin-right: 40px;
}

a {
    text-decoration: none;
}

.tabela {
    border: black 2px solid;
    width: 70em;
    margin: auto;
    margin-top: 5em;
}

.headerTabela {
    border: black 2px solid;
    background-color: yellow;
    height: 2em;
    text-align: center;
    font-size: 1.4em
}

.item{
    border: black 2px solid;
    height: 20px;
    text-align: center;
}

.capaJogo {
    width: 100px;
    height: 100px;
}

