<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devs</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/dev.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body>
    
    {% include 'header.html' %}
    <div class="titulo">
        <h2 style="text-align:center">Desenvolvedores responsáveis pelo projeto</h2>
    </div>
    <br>
    <br>

    <div class="container">
    <div class="card">

      <img src="/static/imagens/erick.jpeg" alt="Erick" style="width: 350px; height: 350px; float: left;">
      <span class="incard"><h1>Erick Alan da Silva</h1></span>
      <p class="title">Futuro desenvolvedor front-end</p>
      <span class="incard"><p>Blue EdTech University</p></span>
      <div style="margin: 24px 5;">
        <a href="https://github.com/ErickAlands"><i class="fa fa-github"></i></a>  
        <a href="https://www.linkedin.com/in/erick-alan-da-silva/"><i class="fa fa-linkedin"></i></a>  
        <a href="https://www.facebook.com/erick.alandasilva/"><i class="fa fa-facebook"></i></a> 
      </div>
    </div>

    <br>

    <div class="card">
      <img src="/static/imagens/fotoLuiz.jpeg" alt="Luiz" style="width: 350px; height: 350px; float: right;">
      <span class="incard"><h1>Luiz Felipe da Silva Pinho</h1></span>
      <p class="title">Futuro desenvolvedor front-end</p>
      <span class="incard"><p>Blue EdTech University</p></span>
      <div style="margin: 24px 5;">
        <a href="https://github.com/LuizFelipePinho"><i class="fa fa-github"></i></a>  
        <a href="https://www.linkedin.com/in/luiz-felipe-pinho/"><i class="fa fa-linkedin"></i></a>  
        <a href="#/"><i class="fa fa-facebook"></i></a> 
      </div>
    </div>
  </div>

</body>
</html>