<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css"> <!-- isso reseta os estilos padrões de todos os browsers-->
    <link rel="stylesheet" href="/static/styles.css">
    <title>Games Lib</title>
</head>
<body>

    {% include 'header.html' %}
    <!-- -->
    <!-- só apagar dp esse header quando tiver com bd
    <header class="cabecalho">
        <h1>Games Lib</h1>

        <ul>
            <a href="/"><li>Home</li></a>
            <a href=""><li>Saiba mais</li></a>
            <a href=""><li>Desenvolvedores</li></a>
        </ul>
    </header>
-->
    <h2 class="subtitulo">Escolha sua plataforma preferida!</h2>

    <nav class="container">
        <div class="bloco">
            <a href="/playstation"><img src="/static/imagens/play.png" alt="" class="imagensConsole"></a>
            
        </div>
      
        <div class="bloco">
            <a href="/xbox"><img src="/static/imagens/xbox.png" alt="" class="imagensConsole"></a>
            
        </div>
      
        <div class="bloco">
            <a href="/switch"><img src="/static/imagens/swith.png" alt="" class="imagensConsole"></a>
            
        </div>


    </nav>

</body>
</html>