<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/input.css">

    <title>Games Lib</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="bloco">
        <h2>Editar Registro</h2>
    </div>

    {% if sucesso %}

    <div class="bloco">
        <p>Jogo inserido com sucesso!</p>
    </div>

    {% endif %}

    <div class="bloco informacoes">
        <form class="form" method="POST"> <!-- com o post Vamos enviar informações para o bd-->
            
            <div class="bloco form_input">
                <label for="nome_jogo">Titulo: </label>
                <input type="text" id="nome_jogo" name="nome_jogo" value="{{nome_jogo}}"> <!-- o id do input que liga com o for da label-->
            </div>

            <div class="bloco form_input">
                <label for="plataforma">Plataforma: </label>
                <input type="text" id="plataforma" name="plataforma" value="{{jogo.plataforma}}"> <!-- o id do input que liga com o for da label-->

            </div>

            <div class="bloco form_input">
                <label for="genero">Genero: </label>
                <input type="text" id="genero" name="genero" value="{{jogo.genero}}"> <!-- o id do input que liga com o for da label-->

            </div>

            <div class="bloco form_input">
                <label for="imagem_url">URL da imagem: </label>
                <input type="text" id="imagem_url" name="imagem_url" value="{{jogo.imagem_url}}"> <!-- o id do input que liga com o for da label-->

            </div>

            <div class="bloco form_input">
                <input type="submit" class="botao" value="Enviar">

            </div>
        </form>

        
    </div>
</body>
</html>