<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">

    <title>Games Lib</title>
</head>
<body>

   {% include 'header.html' %} 
    

        <table class="tabela">
            <tr class="headerTabela">
                <td class="item">Id</td>
                <td class="item">Titulo</td>
                <td class="item">Plataforma</td>
                <td class="item">Genero</td>
                <td class="item">Imagem do Jogo</td>
                <td class="item">Ações</td>



            </tr>

            <tbody>
                <!-- Para CADA filme dentro da minha lista de filmes que estão vindo do app.py -->
                {% for jogo in listaJogos %}
                <tr>
                    <td class="item">{{ jogo.jogo_id }}</td>
                    <td class="item">{{jogo.nome_jogo}}</td>
                    <td class="item">{{jogo.plataforma}}</td>
                    <td class="item">{{jogo.genero}}</td>
                    <td class="item"> <img src="{{jogo.imagem_url}}" alt="{{jogo.nome_jogo}}" class="capaJogo"></td>
                    <td class="item">
                        <a href="/updateJogo/{{jogo.jogo_id}}" class="acao">Alterar</a>
                        <a href="/deleteJogo/{{jogo.jogo_id}}" class="acao">Deletar</a>


                    </td>
                    




                   <!-- acho que isso vai servir pra algo
                    <td>
                    <a href="/read/{{jogo.id}}" class="botao">Visualizar</a>  pra q serve esse id do jogo aqui???
                    </td>
                -->
                </tr>
                {% endfor %}
            </tbody>
            
        </table>

        <div class="botaoAdicionarJogo"> 
            <button>
            <a href="/create"> Adicionar jogo 
            </a>
        </button>
        </div>

     
    




</body>
</html>